[connection]
id=LAN
uuid={{ net_uuid.stdout }}
type=ethernet
interface-name={{ net_inf.stdout }}

[ipv4]
address={{ vm_ip }}/{{ vm_nms | default (24) }},{{ vm_gw }}
dns={{ vm_dns }}
method=manual

[ipv6]
addr-gen-mode=stable-privacy
method=disabled

[proxy]
