[connection]
id=LAN
uuid={{ net_uuid.stdout }}
type=ethernet
interface-name={{ net_inf.stdout }}

[ethernet]

[ipv4]
address={{ vm_ip }},{{ vm_gw }}
dns={{ vm_dns }}
method=manual

[ipv6]
addr-gen-mode=default
method=disabled

[proxy]