
       \^V//
       |. .|    I AM (G)ROOT!
     - \ - / _
      \_| |_/
        \ \
      __/_/__
     |_______|   With great power comes great responsibility.
      \     /    Use sudo wisely.
       \___/

